# Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import re
from pycaret.classification import *

# Importação das Informações

In [2]:
#importação das partidas 
partidas_2017 = pd.read_csv('data/2017_partidas.csv')
partidas_2016 = pd.read_csv('data/2016_partidas.csv')
partidas_2015 = pd.read_csv('data/2015_partidas.csv')
partidas_2014 = pd.read_csv('data/2014_partidas.csv')

In [3]:
#importação dos scouts
scouts_2017 = pd.read_csv('data/2017_scouts.csv')
scouts_2016 = pd.read_csv('data/2016_scouts.csv')
scouts_2015 = pd.read_csv('data/2015_scouts.csv')
scouts_2014 = pd.read_csv('data/2014_scouts.csv')

In [4]:
#importação dos clubes 
clubes_2017 = pd.read_csv('data/2017_clubes.csv')
clubes_2016 = pd.read_csv('data/2016_clubes.csv')
clubes_2015 = pd.read_csv('data/2015_clubes.csv')
clubes_2014 = pd.read_csv('data/2014_clubes.csv')

In [5]:
#importação dos atletas
atletas_2017 = pd.read_csv('data/2017_atletas.csv')
atletas_2016 = pd.read_csv('data/2016_atletas.csv')
atletas_2015 = pd.read_csv('data/2015_atletas.csv')
atletas_2014 = pd.read_csv('data/2014_atletas.csv')

# Junção das Tabelas

In [6]:
partidas = partidas_2017

# Transformação de Dados

In [7]:
#como no dataset de partidas não fala o resultado(vitória, empate ou derrota)
partidas['resultado'] = 0
partidas.loc[partidas['placar_oficial_mandante'] > partidas['placar_oficial_visitante'],'resultado'] = 1
partidas.loc[partidas['placar_oficial_mandante'] < partidas['placar_oficial_visitante'],'resultado'] = -1

In [8]:
#transformação dos aproveitamentos 
partidas['vitorias_recentes_mandante'] = partidas['aproveitamento_mandante'].str.count('v')
partidas['empates_recentes_mandante'] = partidas['aproveitamento_mandante'].str.count('e')
partidas['derrotas_recentes_mandante'] = partidas['aproveitamento_mandante'].str.count('d')
partidas['vitorias_recentes_visitante'] = partidas['aproveitamento_visitante'].str.count('v')
partidas['empates_recentes_visitante'] = partidas['aproveitamento_visitante'].str.count('e')
partidas['derrotas_recentes_visitante'] = partidas['aproveitamento_visitante'].str.count('d')

In [9]:
#transformação para int64 da coluna valida
partidas['valida'] = partidas['valida'].astype('int64')

In [10]:
#removendo vazamento de dados e dados já transformados
partidas.drop(columns=['aproveitamento_visitante','aproveitamento_mandante','placar_oficial_visitante','placar_oficial_mandante'], inplace=True)

In [11]:
#remoção de colunas inuteis para o modelo
partidas.drop(columns=['partida_data', 'local','clube_casa_id','clube_visitante_id'],inplace=True)

In [21]:
partidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   rodada_id                    200 non-null    int64
 1   clube_casa_posicao           200 non-null    int64
 2   clube_visitante_posicao      200 non-null    int64
 3   valida                       200 non-null    int64
 4   resultado                    200 non-null    int64
 5   vitorias_recentes_mandante   200 non-null    int64
 6   empates_recentes_mandante    200 non-null    int64
 7   derrotas_recentes_mandante   200 non-null    int64
 8   vitorias_recentes_visitante  200 non-null    int64
 9   empates_recentes_visitante   200 non-null    int64
 10  derrotas_recentes_visitante  200 non-null    int64
dtypes: int64(11)
memory usage: 17.3 KB

In [24]:
#transformação para int32 do dataframe
partidas = partidas.astype('int32')

# Modelagem

In [25]:
classification = setup(data = partidas, target='resultado',session_id=42)

In [26]:
best_model = compare_models()

In [15]:
print(best_model)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=42, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [27]:
model = create_model('lr')

In [28]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [29]:
final_model = finalize_model(model)